includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 8

    universalObjectCratesClasses:
        - Illuminate\Routing\Route

    ignoreErrors:
        -
            message: '#Unable to resolve the template type#'
            
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
